.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 325px;
  max-height: 328px;
  width: 100%;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 2px 12px;
  background: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 20px;
  letter-spacing: 0;
  opacity: 60%;
  border-radius: 4px;
  text-align: center;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url("../../assets/inactive-like-button.svg") center
    no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_is-active {
  background: transparent url("../../assets/active-like-button.svg") center
    no-repeat;
}

.card__content {
  position: absolute;
  top: 20px;
  display: flex;
}
