.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weatger-card__temp {
  position: absolute;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  top: 20px;
  left: 16px;
  font-family: "CabinetGrotesk", sans-serif;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
  color: white;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
