.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk Bold", Arial, sans-serif;
  align-items: start;
  justify-items: start;
}

.page__content {
  max-width: 1360px;
  margin: 0 40px;
  min-height: 100vh;
}
