.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal__container {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 24px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  align-items: center;
}

.modal__weather {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: transparent url("../../assets/Close.svg") center no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  flex-direction: grid;
}

.modal__close:hover {
  transform: scale(1.1);
}

.modal__delete {
  align-self: flex-end;
  margin: 0;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__delete:hover {
  background-color: darkred;
}

.modal__delete_btn {
  background: transparent;
  border: none;
  color: #ff4d00;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
