.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__add-clothes-btn {
  font-family: "CabinetGrotesk", sans-serif;
  margin-right: 20px;
  margin-left: 20px;

  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__user-container {
  gap: 12px;
  align-items: center;
  display: flex;
  font-family: "CabinetGrotesk", sans-serif;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 700;
}

.header__logo {
  margin: 0 24px 0 0;
}

.header__date-and-location {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  margin-right: auto;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}
