.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__add-clothes-btn {
  font-family: "CabinetGrotesk", sans-serif;
  margin-right: 20px;
  margin-left: 20px;

  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__navigation_container {
  gap: 12px;
  align-items: center;
  min-width: fit-content;
  display: flex;
  font-family: "CabinetGrotesk", sans-serif;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 700;
}

.header__logo {
  margin: 0 24px 0 0;
}

.header__date-and-location {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  margin-right: auto;
}

.header__username {
  margin: 0;
}

.header__navigation_link {
  text-decoration: none;
  color: black;
}

.header__navigation {
  height: 40px;
  width: 100%;
}

.header__navigation_container {
  min-width: fit-content;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.header__navigation_button {
  margin-left: 20px;
  padding: 0;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: #000;
}

.header__navigation_button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__navigation_link {
  margin-left: 20px;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  display: flex;
}

.header__navigation_username {
  align-self: center;
}

.header__navigation_user_type_none {
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 20%);
  border-color: rgba(0, 0, 0, 50%);
  border-style: solid;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.header__navigation_user {
  margin: -8px 0 0 12px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
