.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  height: 610px;
  background-color: white;
  position: relative;
  max-width: 496px;
  border-radius: 20px;
  width: 100%;
}

.modal__image {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.modal__weather {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.modal__caption {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.modal__footer {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
}

.modal__delete {
  color: #ff4d00;
  position: absolute;
  right: 32px;
  border: none;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  padding: 0;
}
