.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  max-height: 610px;
  background-color: white;
  position: relative;
  max-width: 496px;
  border-radius: 20px;
  width: 100%;
}

.modal__image {
  max-height: 500px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.modal__weather {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.modal__caption {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.modal__footer {
  margin: 20px 0 32px 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
}

.modal__close_preview {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: transparent url("../../assets/Close.svg") center no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal__delete_btn {
  position: absolute;
  right: 32px;
}

.modal__close_preview:hover {
  transform: scale(1.1);
}
