.footer {
  position: fixed;
  bottom: 24px;
  left: 40px;
  right: 65px;
  width: auto;
  height: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  box-sizing: border-box;
}
